{% extends "wrappers/base.html.twig" %}
{% block body %}

<body class="w-screen h-screen px-4 pb-4 sm:grid sm:place-content-center">
  <form action="{{ route_to('forgot') }}" method="post"
    class="flex flex-col items-stretch w-full h-full pt-6 flex-nowrap sm:w-112 sm:border sm:border-neutral-300 sm:rounded-lg sm:gap-6 sm:p-16">
    {{ csrf_field() }}

    <div class="space-y-2">
      <div class="text-4xl font-bold">Reset password</div>
      <p>Don't worry, we will email you a link to reset your password.</p>
    </div>

    {% import "components/auth_components.html.twig" as auth_components %}
    {{ auth_components.message_box() }}

    {% import "components/components.html.twig" as components %}
    {{ components.input({ label: 'Email', name: 'email', type: 'email', size: 'lg', error: session('errors.email'), class: 'mt-6 sm:mt-0'}) }}


    <div class="flex flex-col justify-end grow sm:mt-6">
      <button type="submit" class="w-full py-2.5 px-4 text-lg rounded-lg font-semibold bg-emerald-500 text-white">
        Send me a link
      </button>
    </div>
  </form>
</body>

{% endblock body %}