{% extends template %}
{% block title %}Kategori - {{ store.name }}{% endblock title %}

{% block main %}
<div class="flex flex-col w-full h-full">
  <header class="py-4 px-7">
    <h1 class="text-3xl font-bold">Kategori</h1>
  </header>

  <section class="grid flex-grow w-full place-content-center">
    <div class="flex flex-col gap-6 mx-auto w-96">
      <svg class="w-full h-auto" fill="none" viewBox="0 0 384 283">
        <g clip-path="url(#a)">
          <path fill="#F5F5F5" d="M326.772 281.614v-31.329s12.217 22.211 0 31.329Z" />
          <path fill="#F5F5F5" d="m327.527 281.609-23.093-21.187s24.634 6.026 23.093 21.187Z" />
          <path fill="#E5E5E5" d="M82.852 0H27.617L0 47.805 27.617 95.61h55.235l27.617-47.805L82.852 0Z" />
          <path fill="#fff" d="M30.718 90.244h49.034l24.518-42.44L79.752 5.367H30.718L6.2 47.805l24.518 42.439Z" />
          <path fill="#E5E5E5" d="M30.124 37.406a2.261 2.261 0 1 0 .002-4.523 2.261 2.261 0 0 0-.002 4.523ZM30.124 50.065a2.261 2.261 0 1 0 .002-4.523 2.261 2.261 0 0 0-.002 4.523ZM30.124 62.726a2.261 2.261 0 1 0 .002-4.523 2.261 2.261 0 0 0-.002 4.523ZM82.606 33.336h-42.98v3.618h42.98v-3.618ZM82.606 45.996h-42.98v3.617h42.98v-3.617ZM82.606 58.656h-42.98v3.617h42.98v-3.617ZM356.383 0h-55.235l-27.617 47.805 27.617 47.805h55.235L384 47.805 356.383 0Z" />
          <path fill="#fff" d="M304.248 90.244h49.035l24.517-42.44-24.517-42.438h-49.035L279.73 47.805l24.518 42.439Z" />
          <path fill="#E5E5E5" d="M303.656 37.406a2.261 2.261 0 1 0 .001-4.523 2.261 2.261 0 0 0-.001 4.523ZM303.656 50.065a2.262 2.262 0 1 0 0-4.523 2.262 2.262 0 0 0 0 4.523ZM303.656 62.725a2.261 2.261 0 1 0 .001-4.522 2.261 2.261 0 0 0-.001 4.522ZM356.138 33.336h-42.981v3.618h42.981v-3.618ZM356.138 45.996h-42.981v3.617h42.981v-3.617ZM356.138 58.656h-42.981v3.617h42.981v-3.617ZM219.349.464h-54.698l-27.349 47.34 27.349 47.342h54.698l27.35-47.341-27.35-47.34Z" />
          <path fill="#fff" d="M167.721 89.832h48.558l24.279-42.027-24.279-42.027h-48.558l-24.28 42.027 24.28 42.027Z" />
          <path fill="#34D399" d="M167.134 37.506a2.24 2.24 0 1 0 .001-4.479 2.24 2.24 0 0 0-.001 4.48ZM167.134 50.044a2.24 2.24 0 1 0 .001-4.48 2.24 2.24 0 0 0-.001 4.48ZM167.134 62.58a2.24 2.24 0 1 0 .001-4.478 2.24 2.24 0 0 0-.001 4.479ZM219.106 33.477h-42.563v3.582h42.563v-3.582ZM219.106 46.014h-42.563v3.582h42.563v-3.582ZM219.106 58.55h-42.563v3.583h42.563V58.55Z" />
          <path fill="#FECACA" d="M238.632 277.06h-5.313l-2.527-20.48 7.841.001-.001 20.479Z" />
          <path fill="#262626" d="m239.987 282.207-17.131-.001v-.216a6.664 6.664 0 0 1 6.668-6.664h.001l10.462.001v6.88Z" />
          <path fill="#FECACA" d="M288.035 277.06h-5.313l-2.528-20.48 7.841.001v20.479Z" />
          <path fill="#262626" d="m289.389 282.207-17.131-.001v-.216a6.667 6.667 0 0 1 6.668-6.664l10.463.001v6.88ZM236.514 173.131s-4.459 12.096-3.822 17.19c.637 5.093-4.46 40.747-3.823 43.93s-.637 19.1 0 21.647c.637 2.546-1.788 5.588-.513 8.135 1.274 2.547 3.062 7.781 3.062 7.781l8.281-.636 1.275-7.004s3.822-.636 3.185-4.456c-.637-3.82 3.185-29.287 3.185-29.287l10.83-35.654 15.29 32.471s.637 22.92 2.548 25.466c1.911 2.547-1.911 9.55 0 12.097 1.911 2.547 3.822 7.003 3.822 7.003h9.556v-5.093s5.734-3.183 0-12.733l-3.874-57.352-3.822-26.104-45.18 2.599Z" />
          <path fill="#FECACA" d="M260.263 93.076c6.572 0 11.899-5.324 11.899-11.892 0-6.567-5.327-11.891-11.899-11.891-6.571 0-11.899 5.324-11.899 11.891 0 6.568 5.328 11.892 11.899 11.892Z" />
          <path fill="#262626" d="m250.137 80.364 2.519 6.431c1.032 2.636 2.215 5.456 4.634 6.926 2.987 1.816 6.977.93 9.866-1.036a15.388 15.388 0 0 0 1.494-24.294 15.409 15.409 0 0 0-8.428-3.73l-.12 2.152-2.643-2.214a2.578 2.578 0 0 1-1.86 1.25 2.572 2.572 0 0 1-2.135-.686c.695 1.439-.107 3.193-1.264 4.294-1.421 1.354-5.488 2.98-5.319 5.4.113 1.615 2.601 3.833 3.256 5.507Z" />
          <path fill="#FECACA" d="M293.016 190.721a5.028 5.028 0 0 0-.397-6.124 5.04 5.04 0 0 0-1.762-1.289l.238-11.504-6.96-1.849-.107 16.25a5.058 5.058 0 0 0 2.487 6.248 5.073 5.073 0 0 0 6.501-1.732Z" />
          <path fill="#404040" d="M269.102 100.425s-9.22-4.607-17.929-1.536c-8.708 3.072-13.318 6.656-13.318 6.656l5.634 29.692-7.683 39.931s39.443-3.071 43.029 0c3.586 3.072 3.586-3.583 3.586-3.583l-3.074-37.884 5.635-24.061-15.88-9.215Z" />
          <path fill="#FECACA" d="M230.185 191.402a5.04 5.04 0 0 0 1.809-3.858 5.036 5.036 0 0 0-1.798-3.862l3.46-10.975-6.161-3.728-4.668 15.567a5.061 5.061 0 0 0 3.964 8.053 5.07 5.07 0 0 0 3.394-1.197Z" />
          <path fill="#404040" d="M241.44 105.544h-3.586s-5.635 3.584-5.635 8.703c0 5.12-8.196 65.017-8.196 65.017l8.709 1.535 7.684-41.979 5.634-11.262-4.61-22.014ZM275.249 109.64h9.733s3.073 3.072 4.61 10.239c1.537 7.167 3.074 35.324 3.074 35.324l-1.025 25.597h-7.684l-1.024-33.276-5.123-21.502-2.561-16.382Z" />
          <path fill="#D4D4D4" d="M348.78 282.537H183.673a.435.435 0 0 1-.434-.434.435.435 0 0 1 .434-.433H348.78a.433.433 0 0 1 0 .867Z" />
        </g>
        <defs>
          <clipPath id="a">
            <path fill="#fff" d="M0 0h384v282.537H0z" />
          </clipPath>
        </defs>
      </svg>
      <div class="grid gap-1 text-center">
        <h2 class="text-xl font-semibold">Mulai membuat kategori</h2>
        <p class="text-lg">Kategori akan membantu calon pembeli mu untuk mencari produk yang mereka inginkan.</p>
      </div>
      <a class="flex justify-center" href="{{ route_to('admin/add-category') }}">
        {% import "components/components.html.twig" as components %}
        <button disabled class="opacity-50 btn btn-base btn-black">
          <svg><use xlink:href="#ph_plus-bold"></svg>
          <span>Tambah kategori</span>
        </button>
      </a>
    </div>
  </section>
</div>
{% endblock main %}