{% extends template %}
{% block title %}Bantuan - {{ store.name }}{% endblock title %}

{% block main %}

<header class="py-4 px-7">
  <h1 class="text-3xl font-bold">Bantuan</h1>
</header>

{% endblock main %}