{% extends template %}
{% block title %}Bantuan - {{ store.name }}{% endblock title %}

{% block main %}

<div class="flex flex-col w-full h-full">
  <header class="py-4 px-7">
    <h1 class="text-3xl font-bold">Bantuan</h1>
  </header>
</div>

{% endblock main %}