{% extends template %}
{% block title %}Selamat datang - {{ store.name }}{% endblock title %}

{% block main %}

{% import "components/components.html.twig" as components %}
<form x-data="{ section: 0 }" x-show="$store.onboarding" x-init="$store.onboarding=true" x-transition:leave.duration.500ms action={{ route_to('admin/onboarding-setup') }} method="post" autocomplete="off" class="flex items-center justify-start w-full h-full px-6 bg-white">
  {{ csrf_field() }}
  <section x-show="section === 0">
    <h1 class="text-5xl font-bold">Selamat Datang!</h1>
    <p class="mt-2 text-lg">Tinggal beberapa langkah lagi tokomu siap di pamerkan!</p>
    <button type="button" x-ref="nameBtn" @click="section++; $nextTick(() => $refs.name.focus());" class="mt-6 btn btn-base btn-black">
      <svg><use xlink:href="#ph_caret-right-bold"></svg>
      <span>Selanjutnya</span>
    </button>
  </section>
  <section x-show="section === 1">
    <h2 class="text-4xl font-bold">Nama toko</h2>
    <p class="mt-2 text-lg w-[32rem]">Masukkan nama untuk dipasang di website mu.</p>
    {{ components.input({
      name: 'name',
      type: 'text',
      size: 'lg',
      placeholder: 'Masukkan nama toko',
      inputAttributes: 'x-ref="name" @input="$refs.nameBtn.disabled = ($event.target.value.match(/^ *$/) !== null)" @keyup.enter="$refs.nameBtn.click()" @keyup.shift.enter="$refs.backName.click()" autocomplete="off"',
      class: 'mt-6 w-112',
      error: session('errors.name')
    }) }}
    <div class="flex mt-6 space-x-4">
      <button type="button" x-ref="backName" @click="section--;" class="btn btn-base btn-outlined-black">Kembali</button>
      <button type="button" x-ref="nameBtn" @click="section++; $nextTick(() => $refs.phone.focus());" :disabled="$refs.name.value.match(/^ *$/) !== null" class="btn btn-base btn-black">
        <svg><use xlink:href="#ph_caret-right-bold"></svg>
        <span>Selanjutnya</span>
      </button>
    </div>
  </section>
  <section x-show="section === 2">
    <h2 class="text-4xl font-bold">Kontak WhatsApp</h2>
    <p class="mt-2 text-lg w-[32rem]">Calon pembeli akan menggunakan nomor ini untuk menghubungi kamu via WhatsApp. Pastikan nomornya aktif ya. </p>
    <input name="phone" type="hidden">
    <input-container class="mt-6 w-112 input-lg input-default">
      <span>+62</span>
      <input x-ref="phone" @input="phoneMask($event); $refs.phoneBtn.disabled = hiddenPhone.value.length < 11;" @keyup.enter="$refs.phoneBtn.click()" @keyup.shift.enter="$refs.backPhone.click()" @focus="$dispatch('telfocus')" @blur="$dispatch('telblur')" type="tel" placeholder="555-5555-5555">
    </input-container>
    <script>
      const hiddenPhone = document.querySelector('[name="phone"]')
      function phoneMask(e) {
        const x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,4})(\d{0,4})/)
        e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '')
        hiddenPhone.value = '62' + x[1] + x[2] + x[3]
      }
    </script>
    <div class="flex mt-6 space-x-4">
      <button type="button" x-ref="backPhone" @click="section--;" class="btn btn-base btn-outlined-black">Kembali</button>
      <button x-ref="phoneBtn" @click="$store.onboarding = false;" :disabled="$refs.phone.value.match(/^ *$/) !== null" type="submit" class="btn btn-base btn-black">Selesai</button>
    </div>
  </section>
</form>

{% endblock main %}