{% from "components/components.html.twig" import input %}

<form hx-put="{{ route_to('update-settings') }}" hx-target="#main" hx-indicator="#main-indicator" class="space-y-4">
  {{ input({
    label: 'Instagram',
    type: 'text',
    name: 'instagram',
    value: store.instagram,
  }) }}
  <button type="submit" class="btn btn-base btn-emerald">Simpan</button>
</form>