@layer components {
  /* Don't use _input as a base */
  ._input {
    @apply text-base bg-white border rounded-lg placeholder-neutral-500;
  }

  /* Base */
  /* Use this instead */
  .input {
    @apply px-4 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent _input;
  }
  
  /* Sizes */
  .input-sm {
    @apply py-1;
  }
  
  .input-base {
    @apply py-2;
  }
  
  .input-lg {
    @apply py-2.5;
  }

  /* Colors */
  .input-default {
    @apply border-neutral-400;
  }

  .input-danger {
    @apply border-red-500;
  }
}