@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './pages/login';
@import './scrollbar';
@import './components/loadingSpinner';
@import './components/buttons';
@import './components/chips';
@import './components/input';
@import './components/inputContainer';
@import './components/dropdownMenu';
@import './components/lozenge';

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src:
      url("/fonts/source-sans-pro-v14-latin-regular.woff2") format("woff2"),
      url("/fonts/source-sans-pro-v14-latin-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    src:
      url("/fonts/source-sans-pro-v14-latin-600.woff2") format("woff2"),
      url("/fonts/source-sans-pro-v14-latin-600.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    src:
      url("/fonts/source-sans-pro-v14-latin-700.woff2") format("woff2"),
      url("/fonts/source-sans-pro-v14-latin-700.woff") format("woff");
  }
}

@screen md {
  .admin-nav {
    display: grid !important;
    grid-template-rows: 1fr auto;
  }
}

/* Fix CodeIgniter toolbar from breaking the main layout */
#toolbarContainer {
  @apply absolute;
}

[x-cloak] {
  display: none !important;
}

.htmx-indicator {
  display: none;
  transition: none !important;
}

#main-indicator.htmx-indicator.htmx-request {
  display: grid;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}