<p>Someone requested a password reset at this email address for {{ site }}.</p>

<p>To reset the password click this URL.</p>

<a href="{{ link }}">
  {{ link }}
</a>

<br>

<p>If you did not request a password reset, you can safely ignore this email.</p>