<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nama Toko</title>
  <link rel="stylesheet" href="/css/main.css">
  {% block head %}{% endblock head %}
</head>
{% block body %}{% endblock body %}
<noscript>
  <div class="absolute top-0 left-0 z-50 grid w-full h-full bg-white place-items-center">
    <span>Untuk saat ini, website kami membutuhkan javascript untuk berjalan. Mohon aktifkan javascript untuk melanjutkan.</span>
  </div>
</noscript>
</html>